<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahdev Singh</title>
    <link rel="stylesheet" href="traderdata.css">
</head>

<body>
    <header>
        <nav>
            <div class="red">
                <div class="company">
                    <img src="site logo white.png" alt="Site Logo">
                    <p class="site">Commodity Tracker</p>
                </div>
                <div class="user">
                    <img src="user image white.png" alt="User Image">
                    <p class="name">Sagar Kumar Jha</p>
                    <p class="gmail">sagarkumarjha@gmail.com</p>
                </div>
                <ul class="buttons">
                    <li class="home">
                        <div>
                            <img src="home icon.png" alt="Home Icon">
                            <a href="/home">Home</a>
                        </div>
                    </li>
                    <li class="data">
                        <div>
                            <img src="data icon.png" alt="Data Icon">
                            <a href="/traderdata">Profile data</a>
                        </div>
                    </li>
                    <li class="report">
                        <div>
                            <img src="report icon.png" alt="Report Icon">
                            <a href="report">Reports</a>
                        </div>
                    </li>
                    <li class="signout">
                        <div>
                            <img src="sign out icon.png" alt="Sign Out Icon">
                            <a href="/home">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="info">
            <div class="top">
                <div class="name">
                    <p class="header">Trader Name</p>
                    <p class="information">Sahdev Singh</p>
                </div>

                <div class="license">
                    <p class="header">License No.</p>
                    <p class="information">R0344-86816-43681</p>
                </div>

                <div class="contact">
                    <p class="header">Contact No.</p>
                    <p class="information">+91 0921456704</p>
                </div>

                <div class="address">
                    <p class="header">Address</p>
                    <p class="information">5-2-701, Risala Abdulla, New Osmangunj</p>
                </div>

                <div class="license">
                    <p class="header">License No.</p>
                    <p class="information">R0344-86816-43681</p>
                </div>

                <div class="nodal">
                    <p class="header">Nodal Officer</p>
                    <p class="information">Pushpendra Verma</p>
                </div>
            </div>

            <div class="box">
                <div class="details">
                    <div>
                        <p class="history">History</p>
                    </div>

                    <div class="table-header">
                        <div class="name">
                            <p>Trader Name</p>
                        </div>
                        <div class="date">
                            <p>Date</p>
                        </div>
                        <div class="description">
                            <p>Description</p>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="name"><a href="#">IMG0102234.jpg</a></div>
                        <div class="date">
                            <p>12/07/2023</p>
                        </div>
                        <div class="description">
                            <a href="#">Description 1.txt</a>
                        </div>
                    </div>

                    <div class="row2">
                        <div class="name"><a href="#">IMG0102234.jpg</a></div>
                        <div class="date">
                            <p>12/07/2023</p>
                        </div>
                        <div class="description">
                            <a href="#">Description 1.txt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>