<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commodity Tracker</title>
    <link rel="stylesheet" href="home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Katibeh&family=Kavoon&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="header">
                <div class="start">
                    <div class="company">
                        <img src="site logo white.png" alt="" class="Logo">
                        <p class="name"><b>Commodity Tracker</b></p>
                    </div>
                </div>

                <div class="below">
                    <div class="end">
                        <ul>
                            <li><a href="alogin">Admin Login</a></li>
                            <li><a href="#">About&nbsp;Us</a></li>
                                                        <li><a href="/signup">Trader&nbsp;Signup</a></li>
                        </ul>

                        <a href="/report" id="reportid">
                            <div class="report">Report</div>
                        </a>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="image">
                <div class="content">
                    <h1>Commodity Tracker</h1>
                    <p> Commodity Tracker portal serves as a crucial tool in the ongoing battle against black marketers
                        and ensures accountability within the commodity trading system. By meticulously monitoring stock
                        statuses against established limits, it helps prevent the unjustified inflation of prices by
                        unscrupulous traders. This initiative is not only essential for safeguarding the interests of
                        the masses by ensuring food availability at fair prices but also plays a pivotal role in
                        upholding the integrity of governmental systems. Through its proactive measures, the portal aims
                        to dismantle the illegal activities of stockists and black marketers, thereby bolstering
                        economic stability and societal well-being.</p>
                </div>
            </div>
        </section>
        <div class="gap"></div>

        <section id="main">
            <div id="main-down">
                <div class="one">
                    <div class="news">
                        <p>News | Updates</p>
                        <p>Advisory</p>
                    </div>
                    <div class="links">
                        <p class="date">24/02/2024</p>
                        <a href="https://www.thehindubusinessline.com/economy/agri-business/indias-food-security-has-increased-over-the-past-5-years-says-un-arms-report/article67537299.ece" class="text">https://www.thehindubusinessline.com/economy/agri-business/indias-food-security-has-increased-over-the-past-5-years-says-un-arms-report/article67537299.ece</a>
                        <p class="date">23/03/2024</p>
                        <a href="https://www.worldbank.org/en/topic/agriculture/brief/food-security-update" class="text">https://www.worldbank.org/en/topic/agriculture/brief/food-security-update</a>
                        <p class="date">22/03/2024</p>
                        <a href="https://economictimes.indiatimes.com/topic/food-security" class="text">https://economictimes.indiatimes.com/topic/food-security</a>
                    </div>
                </div>

                <div class="two">
                    <div class="up">
                        <p>Help Topics</p>
                    </div>

                    <div class="down">
                        <div class="dusri-links">
                            <a href="https://dfpd.gov.in/WriteReadData/Other/nfsa_1.pdf">→  https://dfpd.gov.in/WriteReadData/Other/nfsa_1.pdf</a>

                            <a href="http://surl.li/qvzgc">→ http://surl.li/qvzgc</a>

                            <a href="http://surl.li/qvzfr">→ http://surl.li/qvzfr</a>

                            <a href="http://surl.li/qvzru">→ http://surl.li/qvzru</a>

                            <a href="http://surl.li/jxvyx">→ http://surl.li/jxvyx</a>
                        </div>

                        <div class="other-info">
                            <div class="left">
                                <p>Help Desk Number :</p>
                                <p>1800-103-4786</p>
                            </div>

                            <div class="right">
                                <p>Lodge your Grievance using self-service Help Desk Portal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="gap"></div>
        <section>
            <div class="first">
                <p>Artificial food scarcity and price manipulation by traders worsen food insecurity in India, impacting
                    a population unable to afford basic necessities due to the actions of a few.</p>
            </div>
            <div class="second">
                <h2>
                    <p>Food</p> is everybody's basic right.
                </h2>
                <div class="box">
                    <div class="buttons">

                        <button type="button" id="first" style="background: #F0F0F0;
                        border: 2px solid black;">WHO WE ARE</button>
                        <button type="button" id="second" style="background: white;
                        border: none;">OUR MISSION</button>
                        <button type="button" id="third" style="background: white;
                        border: none;">OUR VISION</button>
                    </div>

                    <div class="information">
                        <p class="who-we-are pehla" id="first-box" style="display: block;">Welcome to Commodity Tracker,
                            where Innovation Meets
                            security. We are dedicated to revolutionizing the agricultural industry through
                            innovative
                            solutions that improve efficiency, sustainability, and productivity. Our mission is to
                            implement Food security act efficently.
                        </p>

                        <p class="our-mission dusra" id="second-box" style="display: none;">
                            We aim to protect basic right of every human being "food", so they can atleast have their basic diet. Our aim is to make every possible effort for preventing artifical food shortage.
                        </p>

                        <p class="our-vision teesra" id="third-box" style="display: none;">Fighting these problems alone is never easy but we can make it possible by support and consistent effort.
                        </p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="third">
                <p>This website serves as a vital tool for government agencies to track and combat price hikes caused by
                    black market activities, stemming from artificial shortages created by unscrupulous exporters. By
                    leveraging the platform, authorities can conduct thorough inspections at warehouses, scrutinize
                    daybooks, Ledger, analyze bank transactions, and monitor storage facilities where goods are stored.
                </p>
            </div>
        </section>
        <div class="gap"></div>
        <section>
            <div class="price-rise"></div>
        </section>
        <div class="gap"></div>
    </main>

    <footer>
        <div class="footer">
            <div class="left">
                <div>
                    <p>Useful Links :</p>
                </div>
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About&nbsp;Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="middle">
                <div class="contactinfo">
                    <p>Contact Us :</p>
                </div>
                <div class="mail">
                    <a href="#">
                        <img src="mail icon.png" alt="Mail Icon">
                        <p>commoditytracker@gmail.com</p>
                    </a>
                </div>
                <div class="contact">
                    <a href="#">
                        <img src="contact icon.png" alt="Contact Icon">
                        <p>+91&nbsp;-&nbsp;0223294220</p>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="company">
                    <img src="site logo.png" alt="Site Logo" id="logo">
                    <p>Commodity Tracker</p>
                </div>
                <div class="feedback">
                    <p>Give your feedback here:</p>
                    <textarea name="feedback" id="feedback" cols="50" rows="5"
                        placeholder="Type your feedback here..."></textarea>
                    <button>Submit</button>
                </div>
                <div>
                    <p>&copy; 2024 Commodity Tracker, All Rights Reserved</p>
                </div>
                <div class="follow">
                    <p>Follow&nbsp;us&nbsp;on</p>
                    <a href="#"><img src="twitter icon.png" alt="Twitter Icon"></a>
                    <a href="#">
                        <img src="youtube icon.png" alt="Youtube Icon"></a>
                    <a href="#"><img src="facebook icon.png" alt="Facebook Icon"></a>
                    <a href="#"><img src="instagram icon.png" alt="Instagram Icon"></a>
                </div>
            </div>
        </div>
    </footer>

    <script>

        const first = document.querySelector('#first');
        const second = document.querySelector('#second');
        const third = document.querySelector('#third');

        const firstBox = document.querySelector('#first-box');
        const secondBox = document.querySelector('#second-box');
        const thirdBox = document.querySelector('#third-box');

        first.addEventListener('click', () => {

            first.style.background = '#F0F0F0';
            first.style.border = '2px solid black';
            firstBox.style.display = 'block';

            second.style.background = 'white';
            second.stlye.border = 'none';
            secondBox.style.display = 'none';


            third.style.background = 'white';
            third.style.border = 'none';
            thirdBox.style.display = 'none';

            first.removeEventListener('click');

        });



        second.addEventListener('click', () => {

            first.style.background = 'white';
            first.style.border = 'none';
            firstBox.style.display = 'none';

            second.style.background = '#F0F0F0';
            second.style.border = '2px solid black';
            secondBox.style.display = 'block';

            third.style.background = 'white';
            third.style.border = 'none';
            thirdBox.style.display = 'none';

            second.removeEventListener('click');

        });
        third.addEventListener('click', () => {

            first.style.background = 'white';
            first.style.border = 'none';
            firstBox.style.display = 'none';

            third.style.background = '#F0F0F0';
            third.style.border = '2px solid black';
            thirdBox.style.display = 'block';

            second.style.background = 'white';
            second.style.border = 'none';
            secondBox.style.display = 'none';

            third.removeEventListener('click');

        });
</script>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/85f421e2-3465-42ed-8187-a432f817b1f2/webchat/config.js" defer></script>
</body>


</html>