<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, Sahdev Singh</title>
    <link rel="stylesheet" href="history.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moulpali&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="red">
                <div class="company">
                    <img src="site logo white.png" alt="Site Logo">
                    <p class="site">Commodity Tracker</p>
                </div>
                <div class="user">
                    <img src="user image white.png" alt="User Image">
                    <p class="name">Welcome!</p>
                </div>

                <div class="license">
                    <p class="licenseno">License No.</p>
                    <p class="licenseno2">R0344-86816-43681</p>
                </div>

                <div class="commodity">
                    <p>Commodity Type</p>
                    <ul>
                        <li>Spices</li>
                        <li>Edible&nbsp;seeds</li>
                        <li>Cumin&nbsp;Seeds</li>
                    </ul>
                </div>

                <ul class="buttons">
                    <li class="home">
                        <div>
                            <img src="home icon.png" alt="Home Icon">
                            <a href="/home">Home</a>
                        </div>
                    </li>
                    <li class="data">
                        <div>
                            <img src="data icon.png" alt="Data Icon">
                            <a href="/trader">Profile</a>
                        </div>
                    </li>
                    <li class="report">
                        <div>
                            <img src="report icon.png" alt="Report Icon">
                            <a href="/history">My History</a>
                        </div>
                    </li>
                    <li class="signout">
                        <div>
                            <img src="sign out icon.png" alt="Sign Out Icon">
                            <a href="/home">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="info">
            <div class="box">
                <div class="profile">
                    <div class="edit">
                        <a href="#">
                            <div>
                                Edit Profile
                            </div>
                        </a>
                    </div>

                    <div class="user">
                        <img src="user image black.png" alt="Profile Picture">
                    </div>

                    <div class="myprofile">
                        <p>My Profile</p>
                        <div></div>
                    </div>

                    <div class="gst">
                        <h2>GSTIN / UIN</h2>
                        <p>Y64G-TH6R-H63F</p>
                    </div>

                    <div class="business">
                        <h2>Legal Name of Business</h2>
                        <p>Sagar Kumar Jha</p>
                    </div>

                    <div class="tradename">
                        <h2>GSTIN / UIN</h2>
                        <p>Cumin Seeds</p>
                    </div>

                    <div class="jurisdiction">
                        <h2>State Jurisdiction</h2>
                        <p>Y64G-TH6R-H63F</p>
                    </div>
                </div>

                <div class="license">
                    <div class="trader">
                        <p>Trader License</p>
                        <div></div>
                    </div>

                    <div class="licenseno">
                        <h2>License No.</h2>
                        <p>R0334-86816-43681</p>
                    </div>

                    <div class="date">
                        <h2>Date of Registration</h2>
                        <p>12/07/2019</p>
                    </div>
                </div>

                <div class="contact">
                    <div class="address">
                        <p>Address & Contacts</p>
                        <div></div>
                    </div>

                    <div class="addressno">
                        <h2>Address</h2>
                        <p>214, 1st Floor, Monica Tower, Milap Chowk</p>
                    </div>

                    <div class="contactno">
                        <h2>Contact No.</h2>
                        <p>+91 0148578543</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>