* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #274135;
}

.pic {
    background-color: #8BCC7D;
    height: 450px;
    width: 400px;
    margin-top: 150px;
    margin-left: 410px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 10px 5px 5px black;
}

.pic img {
    height: 200px;
    width: 275px;
    margin-top: 75px;
    margin-left: 50px;

}

.pic h3 {
    margin-top: 30px;
    margin-left: 110px;
    font-size: 2rem;
}

.info {
    background-color: #ffff;
    height: 450px;
    width: 400px;
    margin-top: 150px;
    margin-left: 00px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 5px 5px black;
}

.info h3 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-left: 9rem; 
}

.info h5 {
    margin-top: 1.5rem;
    margin-left: 2.5rem; 
    font-size: 1rem;
}
.info p {
    margin-top: 2.5rem;
    margin-left: 3.5rem; 
}

.info input {
    margin-top: 0.5rem;
    margin-left: 2.5rem; 
    width: 17rem;
    height: 1.5rem;
    border-radius: 7px;
    
}

#submit {
    width: 100px;
    margin-left: 130px;
    background-color :#274135;
    color: white;
}

.box {
    display: flex;
}